<html>
<head>
	<title>Stat Tracker - Blue Herons Resistance</title>
	<link href='http://fonts.googleapis.com/css?family=Coda:400,700' rel='stylesheet' type='text/css' />
	<link rel="shortcut icon" href="favicon.ico" />
	{{ navbar_css|raw }}
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<link href="style.css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<script type="text/javascript" src="//www.google.com/jsapi"></script>
	{{ navbar_js|raw }}
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="{{ app.request.basepath }}/scripts/jquery.tablesorter.min.js"></script>
	<script src="{{ app.request.basepath }}/scripts/StatTracker.js"></script>
	<script>
	google.load('visualization', '1.0', {'packages':['corechart']});

	$(document).ready(function() {
		StatTracker.pageToLoad = "{{ page }}";
		StatTracker.loadPage();
	});

	</script>
</head>
<body>
{{ navbar_html|raw }}
	<div id="main-content">
		<div class="loading" />
	</div>
</body>
</html>
