<div id="message" />
<div id="badges" />
{% if agent.numSubmissions > 0 %}
<div id="submissions" />
	<select name="submission">
		<option value="today">Today</option>
{% for submission in agent.submissions if submission.date|date("Y-m-d") != "now"|date("Y-m-d") %}
		<option value="{{ submission.date|date("Y-m-d") }}">{{ submission.date|date("F j") }}</option>
{% endfor %}
	</select>
</div>
{% endif %}
<form method="post" action="./my-stats/submit" id="my-stats">
	<div id="agent-info">
		<div class="avatar level-icon-75 {{ faction_class }} l{{ agent.level }}"/>
		<div class="about">
			<div class="name {{ faction_class }}">{{ agent.name }}</div>
			<div class="level">LVL <span>{{ agent.level }}</span></div>
			<div class="ap"><input type="number" name="ap" value="{{ attribute(agent.stats, "ap") }}" min="{{ attribute(agent.stats, "ap") }}"/> AP</div>
		</div>
		<div class="badges" />
	</div>
	{% if agent.stat_date is defined %}
	<input type="hidden" name="timestamp" value="{{ agent.stat_date }}" />
	{% endif %}
	<table>
{% for stat in stats if stat.stat != "ap" %}
	{% set title = "" %}
	{% if stat.stat == "unique_visits" %}
		{% set title = "Discovery" %}
	{% elseif stat.stat == "hacks" %}
		{% set title = "Building" %}
	{% elseif stat.stat == "res_destroyed" %}
		{% set title = "Combat" %}
	{% elseif stat.stat == "distance_walked" %}
		{% set title = "Health" %}
	{% elseif stat.stat == "oldest_portal" %}
		{% set title = "Defense" %}
	{% endif %}

{% if title != "" %}
		<tr>
			<th colspan="2">{{ title }}</th>
		</tr>
	{% endif %}
		<tr>
			<td>{{ stat.name }}</td>
			<td><input type="number" name="{{ stat.stat }}" value="{{ attribute(agent.stats, stat.stat) }}" /></td>
		</tr>
{% endfor %}
		<tr>
			<td colspan="2"><input type="submit" value="Submit Statistics"/></td>
		</tr>
	</table>
</form>
<script>
function onPageLoad() {

	function messageCheck() {
		if (StatTracker.message === "" || StatTracker.message === null) {
			$("#message").hide();
		} 
		else {
			$("#message").html(StatTracker.message).show();
		}
	}

	if (StatTracker.pageArguments.hasOwnProperty("date")) {
		$("select[name='submission']").val(StatTracker.pageArguments.date);
		StatTracker.message = "You are editing a past submission. Any changes will be reflected as if they were a part of the original submission";
	}

	messageCheck();

	$("select[name='submission']").change(function() {
		date = $(this).val();;
		window.location = StatTracker.baseUrl + "my-stats?date=" + date;
	});

	$("form#my-stats").submit(function() {
		$.ajax({
			type: "POST",
			url: StatTracker.baseUrl + "my-stats/submit",
			data: $("form#my-stats").serialize(),
			dataType: "json",
			statusCode: {
				500: function(jqXHR, status, error) {
					$("#message").html(error);
				}
			},
			success: function(data) {
				console.log(data);
				if (!data.error) {
					$("#message").html(data.message).show();
					window.scrollTo(0,0);
				}
				else {
					alert(data.message);
				}
			}
		});
	
		return false;
	});
}
</script>
